
.titulo {background-color:coral;
    color: darkcyan; font-size: 25px;}

    .titulo2 {background-color: black;
    color: pink; font-size: 30px;}

    #elmejortitulo {color: black; background-color: hotpink; font-size: 30px;}
/* Solo se puede poner un ID por elemento, y en prioridad es : ID, CLase, General
ejemplo   = tag selectors
.ejemplo  = class selectors
#ejemplo = id selectors
 */
 .cuadrado 
 /* unidad de medida absoluta en pixeles */
 { 
     /* 200 px de ancho */
    width: 200px; 
    /* 250 de alto */
    height: 250px ;
    /* y el Color del cuadrado, ya que por defecto es transparente */
    background-color: black;
}


    /* unidad de medida absoluta en % porcentajes */
   .cuadrado2 { width: 20%;
    height: 40%;
background-color: violet;}

/* imagen desde internet o desde la PC cargandola en CSS */
.rick {height: 500px;
        width: 500px;
    background-image: url(./imagenes/imagen\ rick.jpeg) ;
    background-size: contain;
background-repeat: no-repeat;
   background-position: center;}
/* Imagen de fondi, y que se contenga y no repita, ya que la img es muy grande */

.parrafo1 {color: violet;}
.parrafo2 {color: #153887;}
.parrafo3 {color: rgb(135, 44, 80);}
/* el 0.4 final es la transparencia */
.parrafo4 {color:rgba(135, 44, 80, 0.4)}


hr {
    display: block;
    margin-top: 5em;
    margin-bottom: 3.0em;
    border-width: 5px;
    border-color: lawngreen;
  }

  .hr1 { border-color: lightcoral;
        border-width: 10px;
        margin-top: 1em;
        margin-bottom: 1em;}

.holamundo {color: aqua;
background-color: black;}

h2 { color: tomato;
background-color: black;}

h3{background-color: blueviolet;
color: chartreuse;}

